body {
  background-color: #232323;
}
.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}
#container {
  margin: 0 auto;
  width: 30rem;
}
h1 {
  color: white;
}
#colorDisplay {
  color: white;
}

#stripe {
  background-color: white;
  height: 2.2rem;
  text-align: center;
}
